<!DOCTYPE html>
<html>
    <head>
        <title>Activity Tracking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-select.css" rel="stylesheet" media="screen">

        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
        <script src="{{ STATIC_URL }}js/json2.js"></script>
        <script src="{{ STATIC_URL }}js/backbone-min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
        <script src="{{ STATIC_URL }}js/day_entry.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.selectpicker').selectpicker({
                    size: false,
                });
            });
        </script>

    </head>

    <body>
        <h1>Day 1 Activity Tracking</h1>


        <div id="activity_container">

        </div>

        <script type="text/html" id="template-activity-entry">
            <div class="row-fluid">
                <div class="span2">
                    <p class="text-center" style="line-height: 28px"><%= activity_entry.label %></p>
                </div>

                <div class="span6 categories">
                    <select class="selectpicker span12">
                        <option>---</option>
                        <% _.each(categories, function(category) { %>
                            <optgroup label="<%= category.description %>">
                            <% _.each(category.activities, function(activity) { %>
                                <option><%= activity.description %></option>
                            <% }); %>
                            </optgroup>
                        <% }); %>
                    </select>
                </div>

                <button class="btn span3">Same</button>
            </div>
        </script>

        <script type="text/html" id="template-categories">
            <select class="selectpicker span12">
            <option>---</option>
            <% _.each(categories, function(category) { %>
                <optgroup label="<%= category.description %>">
                <% _.each(category.activities, function(activity) { %>
                    <option><%= activity.description %></option>
                <% }); %>
                </optgroup>
            <% }); %>
            </select>
        </script>

    </body>
</html>